@{
    ViewData["Title"] = "Home";
}

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
        </div>
        This is a rank checker project that lets you check your website against a chosen particular search engine. To get started, click <a asp-area="" asp-controller="RankCheckRequests" asp-action="Index">here</a>.
    </div>
</div>