@{
    ViewData["Title"] = "Home";
}


<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Privacy</h1>
        </div>
        I'm surprised you're reading this! This is an example web application, so we don't exactly have a privacy policy...
        <br />
        Put your own privacy policy here!
    </div>
</div>