@{
    ViewData["Title"] = "Rank Check Requests";
}

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Rank Check Requests</h1>
        </div>

        <a class="btn btn-success" href="@(Url.Action("Create", "RankCheckRequests"))"><i class="fa-fw fas fa-search"></i> Make Request</a>
    </div>
</div>